/* Define Main Style BEGIN */
body
{
	font-family:"Trebuchet MS",Ariel,san-serif;
	color:#181818;	
}

#main_wrapper
{
	width:900px;
	margin:auto;
}

section h1,footer h1, nav a
{
	font-family:'Dayrom',serif;
	font-weight:normal;
	text-transform:uppercase;
}

/* Define Main Style END */
/*-----------------bahagian header----------------*/

/* Define Header-BEGIN 
header
{
    background: url('logo.png') repeat-x bottom;
} 
*/


#main_title
{
    display: inline-block;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: bold;
}

/*
#logo, header h1
{
    display: inline-block;
    margin-bottom: 0px;
}
*/

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: bold;
}
/* Define Header-END */

/* navigation- BEGIN */

/* Navigation */

nav
{
    display: inline-block;
    width: 740px;
    text-align: right;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: white;
    border-bottom: 3px solid #760001;
}
table 
{
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
    text-align: center;
}


/* navigation- END */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
